body{
    background-image: linear-gradient(to left , rgb(253, 252, 255) , rgb(95, 64, 207));
}
.contaner{
    width: 1000px;
    border-radius: 15px;
    border: white 3px solid;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    background-color: rgba(114, 47, 223, 0.363);
    box-shadow: 0 0 30px rgba(136, 40, 226, 0.945);
    animation-name: con;
    animation-duration: 2s;
}
@keyframes con{
    0% {transform: scale(0.5)}

    100% {transform: scale(1)}
}
.div-email{
    width: 600px;
    height: 55px;
    border-radius: 15px;
    border: white 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}
.div-password{
    width: 600px;
    height: 55px;
    border-radius: 15px;
    border: white 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.user{
    margin-top: 30px;
}
.email{
    height: 35px;
    background-color: transparent;
    border: white 1px solid;
    margin-bottom: 30px;
    width: 500px;
    align-items: center;
    color: white;
    border-radius: 20px;
    text-align: center;
    size: 20px;
    margin-right: 20px;
}
.div-h2 h1{
    color: white;
}
.email::placeholder{
    color: white;
}
.pass{
    height: 35px;
    background-color: transparent;
    border: white 1px solid;
    width: 500px;
    align-items: center;
    color: white;
    border-radius: 20px;
    text-align: center;
    size: 20px;
    margin-right: 20px;
}
.pass::placeholder{
    color: white;
}
.pass-img{
    margin-top: 5px;
}
.div-login{
    margin-top: 20px;
}
.or{
    margin-top: 5px;
    margin-bottom: 5px;
}
.login{
    background-color: transparent;
    width: 270px;
    height: 50px;
    border: white 2px solid;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login:hover{
    cursor: pointer;
    transform: scale(0.98);
    background-image: linear-gradient(to left , rgb(200, 167, 243) , rgb(109, 58, 204));
}
.signup{
    background-color: transparent;
    width: 270px;
    height: 50px;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.signup:hover{
    cursor: pointer;
    transform: scale(0.98);
    background-color: transparent;
    border: rgb(109, 58, 204) 2px solid;
    color: rgb(109, 58, 204);
}